{% extends "layout_ru.html" %}
{% block content %}




<h5>Что нужно чтобы заказать машину</h5><hr>

<h6>Какую информация нужно предоставить для оформления ваучера</h6>
<br>Имя и фамилия на английском как в правах, дату время и место сьема\возврата автомобиля, категорию автомобиля, возраст водителя и стаж вождения. Также нужно предоставить почту(на нее придет ваучер) и контактный телефон.
Какие документы принести в отделение для получения машины
Действующие права, кредитную карту на которой будет закрыт депозит, ваучер(достаточно номера), если вы турист то визу В2 или В3 для отмены НДС

<br><br><br><h5>Общие вопросы</h5><hr>
<br><h6>Почему стоит заказать у вас а не напрямую в отделении компании по аренде?</h6>
<br>Первое это конечно цена - наши цены значительно ниже чем при прямом заказе. Второе не менее важное это обслуживание на родном языке, у нас вы можете выяснить все интересующие вас вопросы по телефону-viber-whatsapp. И у нас всегда есть какие то мероприятия - то скидка 25$ при аренде 7+ дней, то дополнительный водитель бесплатно...
<h6>Хочу снять машину но права остались дома\в гараже\?</h6>
Арендатор должен предоставить действующие права при получении машины. Нет прав - нет машины
<h6>Я хочу заказать автомобиль определенной модели например Мазда 3?</h6>
Заказ производится на категорию машин а не на специфическую модель. Компания вправе предоставить любую машину находящуюся в забронированной категории. В тоже время компания постарается выполнить ваше пожелание.
<h6>Могу ли я заказать машину красного цвета с белыми сидениями?</h6>
Компания постарается выполнить ваше пожелание, но не гарантирует его исполнение.
<h6>Возможна ли ситуация что я при наличии ваучера не получу машину?</h6>
Теоретически такая ситуация возможна. Окончательное решение о предоставлении машины принимается в отделении после проверки документов и закрытия депозита. Мы оформляя вам ваучер не проверяем документы и вашу кредитную карту. В любом случае сотрудники компании заинтересованы и приложат максимум усилий чтобы вы выехали из отделения на арендованной машине

<br><br><br><h5>Финансовые вопросы</h5><hr>
<h6>Могу ли я оплатить аренду автомобиля наличными?</h6>
Да, при возврате автомобиля вы можете либо оплатить наличными либо сумма оплаты будет удержана из депозита
<h6>Какой будет депозит?</h6>
Депозит расчитывается по формуле Сумма аренды + Франшиза + 200$, при этом минимальный депозит 750$
<h6>Могу ли я внести депозит наличными или чеком?</h6>
Депозит принимается только кредитными картами
<h6>Могу ли я внести депозит дебитовой картой?</h6>
Депозит принимается только кредитными картами, но существуют исключения, обратитесь к нам и мы попробуем решить этот вопрос
<h6>Почему цены на сайте выше чем цены на конкурирующих сайтах?</h6>
Наша цена ВКЛЮЧАЕТ обязательные страховки, в отличии от большинства наших конкурентов где цена указана без страховок
<h6>Будет ли мне добавлен НДС?</h6>
НДС по закону добавляется всем кто не предоставит туристическую визу B2 или B3. Если у вас студенческая или рабочая виза то НДС вам будет добавлен к счету
<h6>Почему вы даете цены без НДС?</h6>
Оформляя ваучер на аренду мы не проверяем ваши документы, визы и гражданство и не можем знать знать положено вам освобождение от НДС или нет. Все документы проверяются в отделении при получении машины.
<h6>Может ли мой друг\знакомый\родственник оставить кредитную карту вместо меня?</h6>
Да. Ему нужно присутствовать при сьеме\сдаче машины
<h6>Какие штрафы за отмену?</h6>
У нас отмена так же как и изменения бесплатны. Отмена 7-8-9 местных автомобилей и автомобилей люкс категорий за 48 часов до получения, иначе компания поставщик услуг возьмет штраф в размере одного дня аренды.

<br><br><br><h5>Страхование арендованного автомобиля</h5><hr>
<h6>Какие страховки обязательны?</h6>
CDW/LDW TP, 3PLC - это базовые обязательные страховки которые ограничивают ответственность арендатора до суммы франшизы
<h6>Могу ли я уменьшить сумму личного участия</h6>
Сумму личного участия(франшизы) можно уменьшить до 0 приобретением дополнительных полисов Super CDW и Super ТР

<br><br><br><h5>Молодой водитель</h5><hr>
<h6>Мне 21-22 года могу я арендовать машину?</h6>
Да. Если ваш стаж вождения больше года. Вы можете арендовать машину до класса Е, при этом к сумме аренды будет добавлена дополнительное покрытие в 10$/день.
<h6>Я только что сдал на права, меньше года. Могу я арендовать машину?</h6>
Аренда машины только для водителей с правами более года
Что если дополнительный водитель - молодой водитель?
Если один из арендаторов молодой водитель аренда оформляется как если бы он был основным водителем, то есть категория автомобиля до Е и дополнительное покрытие в 10$/день. Т.е нельзя заказать машину категории F и выше и записать вторым водителем молодого водителя.

{% endblock %}