{% extends "layout_ru.html" %}
{% block menu %}


<div class="topnav" id="myTopnav">
<a href="/ru/"><img src="http://www.theauto.info/img/Rent-car.ico" alt="Аэропорт Бен Гурион - центральное отделение проката аренды авто в Израиле"> +972-58-7710101</a>
<a href="RentalConditions" title="Условия проката аренды автомобилей в Израиле, Аэропорт Бен Гурион Иерусалим Тель Авив Ашдод Хайфа Эйлат Герцлия Нетания Ришон ЛеЦион Реховот">Условия</a>
<a href="Europcar_Albar_Vastama_branches" title="Отделения проката аренды автомобилей в Израиле, Аэропорт Бен Гурион Иерусалим Тель Авив Ашдод Хайфа Эйлат Герцлия Нетания Ришон ЛеЦион Реховот">Отделения</a>
<a href="minivan" title="Аренда минивэна в Израиле">Минивэны</a>
<a href="lux_new" title="Аренда автомобиля люкс в Израиле">Люкс</a>
<a href="about" title="О компании Vastama">О компании</a>
<a href="faq-rent-car-israel" title="Новости">Новости</a>
<a href="/"><img src="http://www.theauto.info/img/en.png" alt="English site"></a>
    
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

{% endblock %}
