<!DOCTYPE html>
<html lang="ru">
<head>

    <title>{{Title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="yandex-verification" content="f11475564b48ca1f" />
    <meta name='wmail-verification' content='a9138f370e313f0907f0d27ff4975904' />
    <meta name="msvalidate.01" content="DFFC9D141B04223AD2603B9AD5606773" />
    <meta name="author" content="Vastama Ltd +972-58-7710101 Аренда автомобилей в Израиле" >

    <link rel="icon" href="http://www.theauto.info/favicon.ico">

    <meta property="fb:app_id" content="1322511981092474" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru" />
    <meta property="og:url" content="http://www.theauto.info/ru/" />
    <meta property="og:image" content="http://www.theauto.info/img/car_key.jpeg"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="426" />
    <meta property="og:title" content="+972-58-7710101 Аренда авто в Израиле. Отделения проката в Бен Гурион, Тель Авив, Эйлат, Иерусалим и др. Без предоплаты. Говорим по русски" />
    <meta property="og:description" content="+972-58-7710101 Аренда авто в Израиле. Лучшие цены на аренду авто в Израиле. Отделения проката в Бен Гурион, Тель Авив, Эйлат, Иерусалим и др. Без предоплаты. Говорим по русски"/>

    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--  <link href="../pricing.css" rel="stylesheet"> -->

    <link rel="alternate" hreflang="en" href="http://www.theauto.info/" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5WSN6CF');</script>
    <!-- End Google Tag Manager -->





</head>

<body>
{% block menu %}{% endblock %}

{% block content %}{% endblock %}

<!--LiveInternet counter-->
<script type="text/javascript">
    document.write("<a href='//www.liveinternet.ru/click' "+
        "target=_blank><img src='//counter.yadro.ru/hit?t26.1;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,150))+";"+Math.random()+
        "' alt='' title='LiveInternet: показано число посетителей за"+
        " сегодня' "+
        "border='0' width='88' height='15'><\/a>")
</script>
</body>
</html>